Zarejestruj się
<br>
Podaj dane:
<br>
<form [formGroup]="form" (ngSubmit)="validData()">
  <div class="form-group">
    <label>Imię</label>
    <input type="text" formControlName="firstName" class="form-control" />
    <div *ngIf="sent && form.controls.firstName.errors" class="regFormError">
        <div *ngIf="form.controls.firstName.errors.required">Proszę podać imię.</div>
    </div>
  </div>
  <div class="form-group">
    <label>Nazwisko</label>
    <input type="text" formControlName="lastName" class="form-control" />
    <div *ngIf="sent && form.controls.lastName.errors" class="regFormError">
        <div *ngIf="form.controls.lastName.errors.required">Proszę podać nazwisko.</div>
    </div>
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <input type="text" formControlName="email" class="form-control" />
    <div *ngIf="sent && form.controls.email.errors" class="regFormError">
        <div *ngIf="form.controls.email.errors.required">Proszę podać adres e-mail</div>
        <div *ngIf="form.controls.email.errors.email">Niepoprawny format adresu e-mail</div>
    </div>
  </div>
  <div class="form-group">
    <label>Nick</label>
    <input type="text" formControlName="username" class="form-control" />
    <div *ngIf="sent && form.controls.username.errors" class="regFormError">
        <div *ngIf="form.controls.username.errors.required">Proszę wybrać swój nick.</div>
    </div>
    <div *ngIf="sent && takenUsernameError" class="regFormError">Ten nick jest zajęty.</div>
  </div>
  <div class="form-group">
    <label>Hasło</label>
    <input type="text" formControlName="password" class="form-control" />
    <div *ngIf="sent && form.controls.password.errors" class="regFormError">
      <div *ngIf="form.controls.password.errors.required">Proszę podać hasło.</div>
      <div *ngIf="form.controls.password.errors.minlength">Hasło musi mieć min. 6 znaków.</div>
    </div>
  </div>
  <div class="form-group">
    <label> <img [hidden]="!avatar" src={{avatar}} width="80" height="80"> Dodaj avatar: </label>
    <input type="file" (change)="validImg($event)" formControlName="img" class="form-control" />
    <div *ngIf="sizeError" class="regFormError">
      Zbyt duży plik. Maksymalny rozmiar to: {{maxSize/1000}}KB
    </div>
  </div>
  <button>Stwórz konto</button>
</form>
<div *ngIf="sent && unknownError" class="regFormError">Wystąpił nieznany błąd. Prosimy spróbować ponownie.</div>
