<section class="section">
    <div class="background"></div>
    <h1 class="title">Witaj!</h1>
    <div class="info">
        <p>
            Wypożyczalnia jest projektem szkoleniowym zrealizowanym w celu doskonalenia umiejętności tworzenia alpikacji internetowych. <br />
            Do storzenia serwisu wykorzystano poniższe technologie:
        </p>
        <div class="content">
            <ul>
                <li>backend: <span class="technology">Django</span> / <span class="technology">Django REST Framework</span>,</li>
                <li>frontend: <span class="technology">Angular 9</span>, <span class="technology">Bulma</span> + <span class="technology">LESS</span>.</li>
            </ul>
        </div>
        <p>Frontend hostowany na platformie <span class="technology">AWS</span>, backend na <span class="technology">Pythonanywhere</span>.</p>
        <p>
            kontakt: <span class="technology">piotr.a.mazur@wp.pl</span><br />
            Link do repozytorium projeku znajdziesz poniżej: 
        </p>
        <div class="link">
            <a href="https://github.com/MarcelDrugi/cars">
                <div class="gh">
                    <img src="/assets/static/gh.png">
                </div>
                <div class="repo">REPO</div>
            </a>
        </div>
    </div>
</section>