<section class="section">
    <div class="columns horizontal">
        <div class="column is-8 left">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2503.7407341076014!2d16.964735098103688!3d51.13169015137694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1600964163920!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="column is-4 right">
            <div class="background"></div>
            <div class="info">
                <div class="subtitle"> * Nasza lokalizacja:</div>
                <div class="info-data">CAR-RENTAL WROCŁAW</div>
                <div class="info-data">ul. Lotników 29B <br /> (nieopdal terminualu przylotów)</div>
                <div class="subtitle"> ** Kontakt telefoniczny:</div>
                <div class="info-data">132 212 7592</div>
            </div>
            <div class="stars">
                <div> * Lokalizacja jest oczywiście fikcyjna, tak jak cała wypożyczalnia <br /> &nbsp; (na mapie nic nie zaznaczono)</div>
                <div> ** Numer telefoniczny wybrany losowo. Prosimy nie dzwonić &nbsp; ;-)</div>
            </div>
        </div>
    </div>
    <div class="vertical">
        <div class="up">
            <div class="background"></div>
            <div class="info">
                <div class="subtitle"> * Nasza lokalizacja:</div>
                <div class="info-data">CAR-RENTAL WROCŁAW</div>
                <div class="info-data">ul. Lotników 29B <br /> (nieopdal terminualu przylotów)</div>
                <div class="subtitle"> ** Kontakt telefoniczny:</div>
                <div class="info-data">132 212 7592</div>
            </div>
            <div class="stars">
                <div> 
                    * Lokalizacja jest oczywiście fikcyjna, tak jak cała wypożyczalnia <br /> 
                    &nbsp;&nbsp; (na mapie nic nie zaznaczono)
                </div>
                <div> ** Numer telefoniczny wybrany losowo. Prosimy nie dzwonić &nbsp; ;-)</div>
            </div>
        </div>
        <div class="down">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2503.7407341076014!2d16.964735098103688!3d51.13169015137694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1600964163920!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>
